<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
  }

  .SearchPoke {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .toolbar {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    margin: 0;
  }
  .content {
    display: flex;
    justify-content: center;
  }
  .btn {
    background-color: #1976d2;
    color: white;
  }

  .card {
    border-radius: 20;
    margin: 20px;
    padding: 10px;
    background-color: rgba(39, 164, 223, 0.74);
  }
  .card img {
    height: 230px;
  }
  .card:hover {
    transform: scale(1.1);
  }
  .lodingpokemons {
    padding: 50px;
    text-align: center;
  }
  @media (max-width: 600px) {
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
</style>
<body>
  <div class="toolbar" role="banner">
    <span>Pokemon</span>
  </div>
  <div class="container-fluid">
    <!-- Toolbar -->
    <div *ngIf="loading" class="lodingpokemons">
      <img
        src="https://secure.img1-fg.wfcdn.com/im/02238154/compr-r85/8470/84707680/pokemon-pikachu-wall-decal.jpg"
        width="200px"
      />
      <h3>Loading Pokemons ...</h3>
    </div>

    <!-- Filter-->
    <form
      *ngIf="!loading"
      [formGroup]="checkoutForm"
      class="SearchPoke"
      autocomplete="off"
    >
      <div class="form-row align-items-center">
        <div class="col-auto">
          <input
            id="name"
            placeholder="Search a Pokemon"
            autocomplete="off"
            type="text"
            class="form-control"
            ng-model="name"
            (ngModelChange)="onChange($event)"
            formControlName="name"
          />
        </div>
        <div class="col-auto">
          <span>Or</span>
        </div>
        <div class="col-auto">
          <select
            class="form-control"
            required
            name="catagory"
            (ngModelChange)="onSubmit(checkoutForm.value)"
            id="catagory"
            ng-model="catagory"
            formControlName="catagory"
          >
            <option value="" disabled selected>Filter by Catagory</option>
            <option *ngFor="let cat of categories">
              {{ cat }}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>

  <div class="pokecards">
    <div class="content card-group" role="main">
      <div *ngFor="let pokemon of pokemons">
        <div class="card text-center" style="width: 18rem;">
          <img [attr.src]="pokemon.image" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">{{ pokemon.name }}</h5>
            <h6 class="card-subtitle mb-2 text-white">
              {{ pokemon.classification }}
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
